@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{

    /* font-family: "Roboto",sans-serif;
    font-weight: 500; */
    font-family: 'Times New Roman', Times, serif;
   
}


.box{
    height: 100px;
    width: 100px;
    color: #fff;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: green;
}

.box3{
    background-color: red;
}

.box4{
    background-color: yellow;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}