@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{

    /* font-family: "Roboto",sans-serif;
    font-weight: 500; */
    font-family: 'Times New Roman', Times, serif;

}


.box{
    min-height: 100px;
    width: 100px;
    color: #fff;
}

.box1{
    background-color: blue;
    flex-grow: 1;
}

.box2{
    background-color: green;
    flex-grow: 2;
}

.box3{
    background-color: red;
    flex-grow: 1;
}

.box4{
    background-color: yellow;
    flex-grow: 3;
}
.box5{
    background-color: pink;
    flex-grow: 3;
}
.box6{
    background-color: orange;
    flex-grow: 1;
}
.box7{
    background-color: black;
    flex-grow: 2;
}
.box8{
    background-color: maroon;
    flex-grow: 4;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}